<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.username %></strong>
    <%# <strong><%= link_to message.user.username, profile_path(user_id: message.user.id) if current_user.username != message.user.username %>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
