<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.username if current_user == message.user %></strong>
    <strong><%= link_to message.user.username, profile_path(user_id: message.user.id) if current_user != message.user %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>

<div id="message-<%= message.id %>">
  <div class="profile-info">
    <div class="message-user-image">
      <%= image_tag(message.user.photo, style: "width: 50px; height: 50px; border-radius: 50%; object-fit:cover;") %>
    </div>
    <strong class="current-user-name">
      <%= message.user.username if user.username == message.user.username %>
    </strong>
    <strong class="other-user-name">
      <%= link_to message.user.username, profile_path(user_id: message.user.id) if user.username != message.user.username %>
    </strong>
    <i class="message-timestamp">•<%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </div>
  <p class="message-content"><%= message.content %></p>
</div>
