<div class="navbar">
  <ul id="main-links">
    <li><%= link_to "Home" %></li>
    <li><%= link_to "Search" %></li>
    <li><%= link_to "Discover"%></li>
    <li><%= link_to "Community" %></li>
    <li><%= link_to "Profile" %></li>
  </ul>
</div>
