<div data-controller="display-form">
  <div class="navbar">
    <ul id="main-links">
      <li>
        <%= link_to root_path, data: { action: "click->navbar#highlight" } do %>
          <div>
            <%= image_tag "Component 1.svg", alt: "Additional Icon", class: "d-none", data: { navbar_target: "menu_icon"} %>
          </div>
          <div>
            <%= image_tag "home-thin.svg", alt: "Home Icon", class: "icon" %>
          </div>
          <span>Home</span>
        <% end %>
      </li>

      <li>
        <%= link_to books_path, data: { action: "click->navbar#highlight" } do %>
          <div>
            <%= image_tag "Component 1.svg", alt: "Additional Icon", class: "d-none", data: { navbar_target: "menu_icon"} %>
          </div>
          <div>
            <%= image_tag "search-thin.svg", alt: "Search Icon", class: "icon" %>
          </div>
          <span>Search</span>
        <% end %>
      </li>

      <li>
        <%= link_to root_path, data: { action: "click->display_form#render" } do %>
          <div>
            <%= image_tag "Component 1.svg", alt: "Additional Icon", class: "d-none", data: { navbar_target: "menu_icon"} %>
          </div>
          <div>
            <%= image_tag "discover.svg", alt: "Discover Icon", class: "icon" %>
          </div>
          <span>Discover</span>
        <% end %>
      </li>

      <li>
        <%= link_to communities_path, data: { action: "click->navbar#highlight" } do %>
          <div>
            <%= image_tag "Component 1.svg", alt: "Additional Icon", class: "d-none", data: { navbar_target: "menu_icon"} %>
          </div>
          <div>
            <%= image_tag "community.svg", alt: "Community Icon", class: "icon" %>
          </div>
          <span>Community</span>
        <% end %>
      </li>

      <li>
        <%= link_to profile_path, data: { action: "click->navbar#highlight" } do %>
          <div>
            <%= image_tag "Component 1.svg", alt: "Additional Icon", class: "d-none", data: { navbar_target: "menu_icon"} %>
          </div>
          <div>
            <%= image_tag "profile.svg", alt: "Profile Icon", class: "icon" %>
          </div>
          <span>Profile</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
