<div class="custom-container">
<div class="header-container">
  <div class="logo-container">
    <h2 class="logo">Storigo</h2>
    </div>

  <div class="login-home-container">
    <%= link_to "Log in", new_user_registration_path, class: "login_button" %>
  </div>
  </div>
  <div class="image-container">
    <%= image_tag "home.png", alt: "Front-Page-Image", class: "image-class" %>
  </div>

  <div class="h2-home">
    <h2>Find a story that matches your mood</h2>
  </div>

  <%# style="padding-top: 550px;" ðŸ‘‡ðŸ» %>
  <div class="home-button-container">
    <div data-controller="display-form">
      <button class="btn discover_button" data-action="click->display-form#render">
      <div>
        <%= image_tag "material-symbols-rocket-outline.svg", alt: "Discover Icon", class: "discover-icon" %>
      </div>
        Discover
      </button>
      <%= render "books/discover" %>
    </div>
  </div>

  <div class="trending-container">
  <div class="trend-container-2">
    <h2 class="trend">Trending</h2>
    <div>
      <%= image_tag "fire-department-outline-rounded.svg", alt: "Fire Icon", class: "fire-icon" %>
    </div>
  </div>
  </div>

  <%# This is a placeholder for the trending stories ðŸ‘‡ðŸ» %>

  <div class="img-fluid pb-4" style="margin-top: -70px; box-shadow: 8px 6px 12px 0px rgba(185, 217, 236, 0.20);">
    <%= image_tag "michelle.png", alt: "Trending-Image", class: "image-trend" %>
  </div>

  <div>
    <%= image_tag "rating.svg", alt: "Ratings", class: "rating-trend" %>
  </div>

  <div class="trend-title-container">
  <div class="trend-title">
    <h3>Becoming</h3>
  </div>
  </div>

  <div class="trend-author">
    <h4>by Michelle Obama</h4>
  </div>


  <%# <div class="community-container"  style="margin-bottom: -4rem;">
    <h1 class="community-h">Communities</h1>
  <div>
      <%= image_tag "community-vector.svg", alt: "Community Icon", class: "community-icon" %>
  </div>
    </div>

  <div class="community-container">
    <div class="trend-container-2">
      <h2 class="trend">Trending</h2>
  <div>
    <%= image_tag "fire-department-outline-rounded.svg", alt: "Fire Icon", class: "fire-icon" %>
  </div>

    </div>
  </div>

</div>
