<div class="custom-container">
  <div class="header-container">
    <div class="logo-container">
      <h2 class="logo">Storigo</h2>
    </div>

    <div class="login-home-container">
      <% if !current_user %>
        <%= link_to "Log in", new_user_registration_path, class: "login_button" %>
      <% else %>
        <div>
          <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: "delete" }, class: "logout_button" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="image-container">
    <%= image_tag "home.png", alt: "Front-Page-Image", class: "image-class" %>
  </div>

  <div class="h2-home">
    <h2>Find a story that matches your mood</h2>
  </div>

  <div data-controller="display-form">
    <div class="home-button-container">
      <div>
        <button class="discover_button" data-action="click->display-form#render">
          <div>
            <%= image_tag "material-symbols-rocket-outline.svg", alt: "Discover Icon", class: "discover-icon" %>
          </div>
          Discover
        </button>
      </div>
    </div>

    <div class="modal modal-1 hidden" data-display-form-target="modal">
      <div>
        <%= render "books/discover" %>
        <button data-action="click->display-form#close" class="close-button">
          <%= image_tag "close.svg", alt: "Close Icon", class: "close-icon" %>
        </button>

      </div>
    </div>
  </div>

  <div data-controller="trending">
    <div class="trending-container">
      <div class="trend-container-2">
        <h2 class="trend">Trending</h2>
        <div>
          <%= image_tag "fire-department-outline-rounded.svg", alt: "Fire Icon", class: "fire-icon" %>
        </div>
      </div>
    </div>

    <div data-trending-target="book">
      <div class="img-fluid pb-4 book visible" style="margin-top: -70px;">
        <%= image_tag "michelle.png", alt: "Trending-Image", class: "image-trend" %>
      </div>

      <div class="book visible">
        <%= image_tag "rating.svg", alt: "Ratings", class: "rating-trend" %>
      </div>

      <div class="trend-title-container">
        <div class="trend-title">
          <h3>Becoming</h3>
        </div>
      </div>

      <div class="trend-author">
        <h4>by Michelle Obama</h4>
      </div>
    </div>

  <!-- TEST -->
    <%# <div class="book hidden" data-trending-target="book">
      <div class="img-fluid pb-4" style="margin-top: -70px; box-shadow: 8px 6px 12px 0px rgba(185, 217, 236, 0.20);">
        <%= image_tag "harry_potter.jpg", alt: "Trending-Image", class: "image-trend" %>
      <%# </div>

      <div>
        <%= image_tag "rating.svg", alt: "Ratings", class: "rating-trend" %>
      <%# </div>

      <div class="trend-title-container">
        <div class="trend-title">
          <h3>Harry Potter and the Philosopher's Stone</h3>
        </div>
      </div>

      <div class="trend-author">
        <h4>by J.K. Rowling</h4>
      </div>
    </div>

    <button data-action="click->trending#move">click</button>
  </div> %>
  <!-- TEST -->

  <div class="my-home-container">
    <h1 class="community-h">
    <%= image_tag "community-vector.svg", alt: "Community Icon", class: "community-icon" %>
    Communities
      </h1>

<!-- Add Carousel Below Communities -->
  <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="<%= image_path 'category-community.png' %>" class="d-block w-100 img-fluid" alt="Community 1">
        <div class="carousel-caption d-none d-md-block">
          <h5>Community Name 1</h5>
          <p>Some details about Community 1.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="<%= image_path 'category-community.png' %>" class="d-block w-100 img-fluid" alt="Community 2">
        <div class="carousel-caption d-none d-md-block">
          <h5>Community Name 2</h5>
          <p>Some details about Community 2.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="<%= image_path 'category-community.png' %>" class="d-block w-100 img-fluid" alt="Community 3">
        <div class="carousel-caption d-none d-md-block">
          <h5>Community Name 3</h5>
          <p>Some details about Community 3.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

</div>






  </div>
</div>
</div>
