<div class="custom-container">
  <div class="header-container">
    <div class="logo-container">
      <h2 class="logo">Storigo</h2>
    </div>

    <div class="login-home-container">
      <%= link_to "Log in", new_user_registration_path, class: "login_button" %>
    </div>
  </div>

  <div class="image-container">
    <%= image_tag "home.png", alt: "Front-Page-Image", class: "image-class" %>
  </div>

  <div class="h2-home">
    <h2>Find a story that matches your mood</h2>
  </div>

  <div data-controller="display-form">
    <div class="home-button-container">
      <div>
        <button class="discover_button" data-action="click->display-form#render">
          <div>
            <%= image_tag "material-symbols-rocket-outline.svg", alt: "Discover Icon", class: "discover-icon" %>
          </div>
          Discover
        </button>
      </div>
    </div>

    <div class="modal hidden" data-display-form-target="modal">
      <div>
        <%= render "books/discover" %>
        <button data-action="click->display-form#close" class="close-button">Close</button>
      </div>
    </div>
  </div>

  <div class="trending-container">
    <div class="trend-container-2">
      <h2 class="trend">Trending</h2>
      <div>
        <%= image_tag "fire-department-outline-rounded.svg", alt: "Fire Icon", class: "fire-icon" %>
      </div>
    </div>
  </div>
</div>
