<div class="my-profile-container">
  <h1 class="profile-title">Profile</h1>

  <div class="img-user-container">
    <!-- Image Container -->
    <div class="image-placement">
      <%= image_tag(current_user.photo, class: "profile-img") %>
    </div>
    <!-- Username Container -->
    <div class="username-container ms-3">
      <p class="username-title"><%= current_user.username %></p>
      <p>Member since <%= current_user.created_at.strftime("%B %d, %Y") %></p>
    </div>
  </div>

<div class="link-container">
  <div class="profile-links">
    <p class="edit-profile-link">
      <%= image_tag "edit_profile.svg", alt: "Profile Icon", class: "profile-icon" %>
      <%= link_to "Edit Profile", edit_user_registration_path %>
    </p>


    <p class="edit-profile-link">
      <%= image_tag "bookshelf.svg", alt: "Bookshelf Icon", class: "bookshelf-icon" %>
      <%= link_to "My bookshelf", user_books_path %>
    </p>

    <p class="edit-profile-link">
      <%= image_tag "recommendation.svg", alt: "Recommendation Icon", class: "recommendation-icon" %>
      Recent recommendation
    </p>

  <p class="edit-profile-link">
  <%= image_tag "graph.svg", alt: "Graph Icon", class: "graph-icon" %>
  Reading tracker
  </p>

  </div>

  <div class="community-center">
    <p class="edit-profile-link">
      <%= image_tag "community-vector.svg", alt: "Cookshelf Icon White", class: "community-white-icon" %>
      <%= link_to "My communities", user_communities_path, class: "community-p" %>
    </p>
  </div>

<!-- Add Carousel Below Communities -->
  <div id="carouselExampleCaptions" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="<%= image_path 'category-community.png' %>" class="d-block w-100 img-fluid" alt="Community 1">
        <div class="carousel-caption d-none d-md-block">
          <h5>Community Name 1</h5>
          <p>Some details about Community 1.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="<%= image_path 'category-community.png' %>" class="d-block w-100 img-fluid" alt="Community 2">
        <div class="carousel-caption d-none d-md-block">
          <h5>Community Name 2</h5>
          <p>Some details about Community 2.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="<%= image_path 'category-community.png' %>" class="d-block img-fluid" alt="Community 3">
        <div class="carousel-caption d-none d-md-block">
          <h5>Community Name 3</h5>
          <p>Some details about Community 3.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
</div>
