<div class="d-none" data-controller="survey" data-display-form-target="questionaire">
  <div data-display-form-target="question_1">
    <%= simple_form_for [@survey, @answer], data: { survey_target: "survey"}, html: { class: "d-none" } do |f| %>
      <h3><%= @questions.first.content %></h3>
      <%= f.input :content, input_html: { data: { survey_target: "input"}} %>
      <%= f.input :question_id, input_html: { value: @questions.first.id }%>
    <% end %>

    <button data-survey-target="answer" data-answer="<%= @questions.first.answer_1 %>" data-action="click->survey#createAnswer"><%= @questions.first.answer_1 %></button>
    <button data-survey-target="answer" data-answer="<%= @questions.first.answer_2 %>" data-action="click->survey#createAnswer"><%= @questions.first.answer_2 %></button>
    <button data-survey-target="answer" data-answer="<%= @questions.first.answer_3 %>" data-action="click->survey#createAnswer"><%= @questions.first.answer_3 %></button>
    <button data-survey-target="answer" data-answer="<%= @questions.first.answer_4 %>" data-action="click->survey#createAnswer"><%= @questions.first.answer_4 %></button>
    <button data-survey-target="answer" data-answer="<%= @questions.first.answer_5 %>" data-action="click->survey#createAnswer"><%= @questions.first.answer_5 %></button>
  </div>

  <%# <div class="d-none" data-display-form-target="question_2">
    <p>Choose a book category</p>
    <ul>
      <li>Best-seller</li>
      <li>Classic</li>
      <li>Contemporary</li>
      <li>Kids-friendly</li>
    </ul>
  </div>

  <div class="d-none" data-display-form-target="question_3">
    <p>How much reading are you in the mood for?</p>
    <ul>
      <li>Short book</li>
      <li>Long book</li>
      <li>Whatever</li>
    </ul>
  </div>

  <div class="d-none" data-display-form-target="question_4">
    <p>What do you prefer?</p>
    <ul>
      <li>Non-fiction</li>
      <li>Fiction</li>
    </ul>
  </div>

  <div class="d-none" data-display-form-target="question_5">
    <p>Any particular publish date?</p>
    <ul>
      <li>New releases</li>
      <li>Old but gold</li>
      <li>It doesn't matter</li>

  </div> %>
</div>
