<h1><%= @books.first.title %></h1>
<p><%= @books.first.author %></p>
<p><%= @books.first.description %></p>
<p>Pages: <%= @books.first.number_of_pages %></p>
<p>Publication date: <%= @books.first.publish_date %></p>
<p>Publisher: <%= @books.first.publisher %></p>
