<%= render "shared/homesearch" %>

<div class="container mt-4" style="
    padding-bottom: 80px">
  <div class="row">
    <% if @books_ai.present? %>
    <% @books_ai.each_with_index do |book, index| %>
      <% if index % 3 == 0 && index != 0 %>
        </div><div class="row">
      <% end %>

      <% if book.is_a?(Book) %>
        <%= link_to book_path(book) do %>

          <div class="results">
            <div class="search-card">
                <%= image_tag book.cover_image, class: "search-img"%>
              <div class="search-txt">

                  <h5 class="card-title" style="color: #B9D9EC"><%= book.title %></h5>
                  <% authors_array = book.author.is_a?(String) && book.author.start_with?("[") ? JSON.parse(book.author) : Array(book.author) %>
                  <br>

                  <p class="card-text-author" style="size:14px">by <%= authors_array.join(",") %></p>
                  <% if book.number_of_pages.present? %>
                    <span class="card-text"> <%= book.number_of_pages %> pages | </span>
                  <% end %>
                  <% if book.publish_date.present? %>
                    <span class="card-text"> <%= book.publish_date %></span>
                  <% end %>
              </div>

                <div class="to-bookshelf">
                  <%= link_to add_book_path(id: book.id), data: {turbo_method: :post} do %><%= image_tag "bookshelf_icon.png", alt:"Bookshelf icon"%>
                  <% end %>
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <%else%>
    <p>"Sorry, no book available"</p>
    <% end %>
  </div>
</div>
