<div class="book-container">
  <button class="turn-book"><%= image_tag "turn_book.png", alt: "Read synopsis" %></button>
  <div class="book-cover">
    <%= image_tag(@books.first.cover_image, alt: @books.first.title) %>
  </div>
  <div class="book-txt">
    <h2><%= @books.first.title %></h2>
    <p>by <%= @books.first.author %></p>
  </div>
  <div class="rec-btns">
    <div class="btn-wrapper">
      <button class="image-button">
        <%= image_tag "reject.png", alt: "Click Me" %>
      </button>
      <p>No interested</p>
    </div>
    <div class="btn-wrapper">
      <%= link_to book_path(@books.first), class: "btn-link" do %>
        <button class="image-button">
          <%= image_tag "accept.png", alt: "Accept recommendation" %>
        </button>
      <% end %>
      <p>Interested</p>
    </div>
  </div>

  <div data-controller="display-reason">
    <button data-action="click->display-reason#render" class="ai-prompt">
      <%= image_tag "question_mark.png", alt: "AI Prompt" %>
    </button>
    <div class="modal hidden" data-display-reason-target="modal">
      <div>
        <%= render "books/reason" %>
        <button data-action="click->display-reason#close" class="">Close</button>
      </div>
    </div>
  </div>
</div>



<%# <%= @open_ai_recommendation %>
