<% @book = @books.first %>
<% @reason = @books_with_reasons %>

<div data-controller="next-book">
  <div class="book-container modal-wrapper" data-controller="modal" data-next-book-target='book' data-recommendation-id='0'>
    <p data-action="click->modal#details">See details</p>
    <div class="book-cover">
      <%= image_tag(@book.cover_image, alt: @book.title) || "no cover available" %>
    </div>
    <div class="book-txt">
      <h2><%= @book.title %></h2>
      <p>by <%= @book.author %></p>
    </div>
    <div class="rec-btns">
      <div class="btn-wrapper">
        <button class="image-button" data-action='click->next-book#next' data-recommendation-id='0'>
          <%= image_tag "reject.png", alt: "Click Me" %>
        </button>
        <p>Not interested</p>
      </div>
      <div class="btn-wrapper">
        <%= link_to book_path(@book), class: "btn-link" do %>
          <button class="image-button">
            <%= image_tag "accept.png", alt: "Accept recommendation" %>
          </button>
        <% end %>
        <p>Interested</p>
      </div>
    </div>

    <div data-controller="display-reason">
      <button data-action="click->display-reason#render" class="ai-prompt">
        <%= image_tag "question_mark.png", alt: "AI Prompt" %>
      </button>
      <div class="modal yellow hidden" data-display-reason-target="modal">
        <div>
          <%= @reason.first[:reason] %>
          <button data-action="click->display-reason#close" class="close-button">Close</button>
        </div>
      </div>
    </div>

      <div class="modal hidden" data-modal-target="bookDetails">
      <div>
        <h1><%= @book.title %></h1>
        <p><%= @book.author %></p>
        <p><%= @book.description %></p>
        <p>Pages: <%= @book.number_of_pages %></p>
        <p>Publication date: <%= @book.publish_date %></p>
        <p>Publisher: <%= @book.publisher %></p>
        <button data-action="click->modal#closeDetails" class="close-button">Close</button>
      </div>
    </div>
  </div>

<% @books[1..].each_with_index do |book, index| %>
  <div class="book-container modal-wrapper d-none" data-controller="modal" data-next-book-target='book' data-recommendation-id='<%= index + 1 %>'>
    <p data-action="click->modal#details">See details</p>
    <div class="book-cover">
      <%= image_tag(book.cover_image, alt: book.title) || "no cover available" %>
    </div>
    <div class="book-txt">
      <h2><%= book.title %></h2>
      <p>by <%= book.author %></p>
    </div>
    <div class="rec-btns">
      <div class="btn-wrapper">
        <button class="image-button" data-action='click->next-book#next' data-recommendation-id='<%= index + 1 %>'>
          <%= image_tag "reject.png", alt: "Click Me" %>
        </button>
        <p>Not interested</p>
      </div>
      <div class="btn-wrapper">
        <%= link_to book_path(book), class: "btn-link" do %>
          <button class="image-button">
            <%= image_tag "accept.png", alt: "Accept recommendation" %>
          </button>
        <% end %>
        <p>Interested</p>
      </div>
    </div>

    <div data-controller="display-reason">
      <button data-action="click->display-reason#render" class="ai-prompt">
        <%= image_tag "question_mark.png", alt: "AI Prompt" %>
      </button>
      <div class="modal yellow hidden" data-display-reason-target="modal">
        <div>
          <%= @reason[index + 1][:reason] %>
          <button data-action="click->display-reason#close" class="close-button">Close</button>
        </div>
      </div>
    </div>

      <div class="modal hidden" data-modal-target="bookDetails">
      <div>
        <h1><%= book.title %></h1>
        <p><%= book.author %></p>
        <p><%= book.description %></p>
        <p>Pages: <%= book.number_of_pages %></p>
        <p>Publication date: <%= book.publish_date %></p>
        <p>Publisher: <%= book.publisher %></p>
        <button data-action="click->modal#closeDetails" class="close-button">Close</button>
      </div>
    </div>
  </div>
<% end %>
</div>
