<div class="book-container modal-wrapper" data-controller="modal">
  <button>See details</button>
  <div class="book-cover">
    <%= image_tag(@book.cover_image, alt: @book.title) %>
  </div>
  <div class="book-txt">
    <h2><%= @book.title %></h2>
    <p>by <%= @book.author %></p>
  </div>
  <% if current_user.books.include?(@book) %>
    <p>This books has already been added to your bookshelf</p>
  <% else %>
    <%= button_to "Add to bookshelf", user_books_path(id: @book.id), method: :post %>
  <% end %>
  <p>Buy from:</p>
  <ul>
    <li><%= link_to "Amazon Books", "https://www.amazon.com/s?k=#{@book.title}", target: "_blank" %></li>
    <li><%= link_to "The American Book Center", "#" %></li>
    <li><%= link_to "eBay", "#" %></li>
  </ul>
  <h1>Reviews</h1>

<div class="modal yellow hidden" data-modal-target="modal">
      <div>
        <%= render "books/explore" %>
        <button data-action="click->modal#close" class="close-button">Close</button>
      </div>
    </div>
</div>
