<h1>Edit book status</h1>
<% current_user.user_books.each do |user_book| %>
  <%= simple_form_for [user_book], data: { controller: "bookstatus" } do |f| %>
    <%= f.input :status, as: :select, collection: [["Yes", "Yes"], ["In progress", "In progress"]], class: "dropdown", label: "Completion", input_html: { data: { bookstatus_target: "status" } } %>
   <p class="d-none" data-bookstatus-target="pages">
  <%= f.input :pages_read,
              label: "Pages Read",
              input_html: { value: user_book.pages_read, min: 1, max: user_book.book.number_of_pages, step: 1,
                            type: "number", class: "dropdown",
                            data: { bookstatus_target: "pages" } } %>
  /<%= user_book.book.number_of_pages %>
</p>


    <p>
      <%= f.submit "Update Status", class: "buttons" %>
    </p>

    <p class="d-none" data-bookstatus-target="content">
      Congratulations, you finished your reading
    </p>
  <% end %>
<% end %>
