<div>
  <h1>My bookshelf</h1>
  <% if current_user.books.count > 0 %>
    <p>You've added <%= current_user.books.count %> <%= current_user.books.count > 1 ? "books" : "book" %> to your reading list</p>
  <% else %>
    <p>You haven't added any book to your reading list yet</p>
  <% end %>
  <div class="row">
    <% current_user.books.each do |book| %>
      <div class="col-6 d-flex flex-column align-items-center">
        <%= image_tag(book.cover_image, alt: book.title, class: "my-bookshelf-book mb-3") %>
        <h5 class="text center my-books-title"><%= book.title %></h5>
        <p class="text-center">by <%= book.author %></p>
      </div>
    <% end %>
  </div>
</div>
