<div class="custom-container" style="padding: bottom 80px;">
  <h1 class="community-h">
    <img alt="Community Icon" class="community-icon" src="/assets/community-vector-99e9fd399af8f771188f31f91324dcbe5778d5a21058f67f522f8f66750b88e2.svg">
    Communities
      </h1>
  <% @communities.each do |community| %>
    <%= link_to community_path(community) do %>
      <div class="com-thumbnail">
        <div class="background-img", style="background-image: url('<%= image_path(community.image) %>'); width: 348px; height: 167px; background-size: cover; background-position: center;">
          <h1 class="com-title"><%= community.name %></h1>
          <div class="followers">
            <%= image_tag "community-thumbnail.png"%><p><%= community.users.count %> <%=community.users.count == 1 ? "follower" : "followers" %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
