<div class="custom-container" style="padding: bottom 80px;">
  <h1 class="community-h">Communities</h1>
    <% @communities.each do |community| %>
      <%= link_to community_path(community) do %>
        <div class="com-thumbnail">
          <div class="background-img", style="background-image: url('<%= image_path(community.image) %>'); width: 348px; height: 167px; background-size: cover; background-position: center;">
            <h1 class="com-title"><%= community.name %></h1>
            <div class="followers">
             <%= image_tag "community-thumbnail.png"%> <p><%= community.users.count %> followers</p>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
