<div class="custom-container" style="padding: bottom 80px;">
  <h1 class="community-h">Communities</h1>
    <% @communities.each do |community| %>
    <div class="com-thumbnail">
      <%= link_to community_path(community) do %>
          <div class="background-img", style="background-image: url('<%= community.image %>'); width: 348px; height: 167px; background-size: cover; background-position: center;">
            <h1 class="com-title"><%= community.name %></h1>
            <div class="followers">
             <%= image_tag "community-thumbnail.png"%>
             <p><%= community.users.count %> followers</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
