<div class="communities-container" style="padding-bottom: 80px;">
  <div class="communities-banner" style="
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, #1C042E),
                url('<%= image_path(@community.image) %>');
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-left: 30px;
    padding-right: 30px;"
    >

    <div class="white-arrow">
      <%= link_to communities_path do %>
        <button class="return-arrow">
          <%= image_tag "back_arrow.png"%>
        </button>
      <% end  %>
    </div>

    <h1 class="community-name" style="opacity: 1;"><%= @community.name %></h1>
    <p class="followers"><%= image_tag "community-thumbnail.png"%><%= @community.users.count %> followers</p>
    <p><%= @community.description %></p>
    <% if current_user.communities.include?(@community) %>
      <p>You're following this community</p>
    <% else %>
      <%= button_to "Join", user_communities_path(id: @community.id) %>
    <% end %>
  </div>
<!-- Messages -->


      <p class="community-title"><strong>Suggested books:</strong></p>
      <div id="booksCarousel" class="carousel slide" style="padding-bottom:20px;" data-bs-ride="carousel">

        <div class="carousel-inner" style="padding-top: 40px; margin: auto;">
          <% @books.each_slice(3).with_index do |books_group, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <div class="d-flex justify-content-center">
                <% books_group.each do |book| %>
                  <div class="">
                    <%= link_to book_path(book) do %>
                      <div class="d-flex flex-column align-items-center justify-content-center book-card">
                        <%= image_tag(book.cover_image, alt: book.title, class: "my-bookshelf-book mb-3") %>
                        <h5 class="text-center my-books-title"><%= book.title %></h5>
                        <p class="text-center suggested-author">by <%= book.author %></p>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#booksCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#booksCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <h4
    class= "community-title"style="display: inline-block; padding-left: 30px; padding-right: 30px; padding-top: 30px;"><strong>Comments</strong></h4>
    <div class="message-container" style="padding-left: 30px; padding-right: 30px; padding-top:30px; max-width: 600px; width: 100%; margin: 0 auto">
    <% if current_user.communities.include?(@community) %>
          <%= turbo_stream_from "community_#{@community.id}_messages" %>
          <div id="messages" class="messages">
            <% @messages.each do |message| %>
              <%# <%unless message.content.blank? %>
                <%= render "messages/message", message: message, user: current_user %>
              <% end %>
            <%# <% end %>
          </div>

          <%= simple_form_for [@community, @message],
              html: {class: "d-flex",
                    data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
            %>

          <%= f.input :content,
            label: false,
            placeholder: "Add a message",
            input_html: {class: "no-resize"},
            wrapper_html: {class: "flex-grow-1"}
          %>

          <button type="submit" class="btn btn-outline-secondary send">
            <%= image_tag "send_message.png", alt: "Send" %>
          </button>
          <% end %>

        <% else %>
          <div class="blocked">
            <%= image_tag "locked_comments.png" %><p class="block-message">Follow this community to interact with other readers</p>
          </div>
        <% end %>
    </div>
</div>
